version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: ../infra/Dockerfile.frontend.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
